{% extends 'base.html' %}
{% load static %}

{% block title %}Bosh sahifa{% endblock title %}

{% block content %}
    <br/>
    <div class="jumbotron">
        <h1 class="display-4">Assalom-u alaykum!</h1>
        <p class="lead">Sherzod Akramovning shaxsiy blogiga xush kelibsiz.</p>
        <hr class="my-4">
        <p>Bu yerda siz so'ngi yangiliklar haqida xabar topasiz.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">Postlarni ko'rish</a>
        </p>
    </div>
{% endblock content %}